de.bsvrz.puk.config/src/de/bsvrz/puk/config/main/authentication/authentication.dtd

<!ELEMENT benutzerkonten (benutzeridentifikation+)>

<!ELEMENT benutzeridentifikation (autorisierungspasswort*)>
<!ATTLIST benutzeridentifikation
	name				CDATA 		#REQUIRED
	passwort			CDATA 		#REQUIRED
	admin 				NMTOKEN 	#REQUIRED
>

<!ELEMENT autorisierungspasswort EMPTY>
<!ATTLIST autorisierungspasswort
	passwort		CDATA 	#REQUIRED
	passwortindex	NMTOKEN	#REQUIRED
	gueltig			NMTOKEN #REQUIRED
>